.App {
    display: flex;
    gap: 32px;
}

.app-container {
    display: flex;
    flex-direction: column;
}

.main-menu {
    width: 60px;
    height: 768px;
    background-image: url("./images/Main Menu Collapsed.svg");
    background-size: cover;
}

.popup {
    width: 300px;
    opacity: 0;
}

.popup__visible {
    opacity: 1;
}

.popup__form {
    display: flex;
    flex-direction: column;
}