@import url(./vendor/normailze.css);

@import url(./vendor/fonts/fonts.css);

.page {
  background-color: rgba(184, 196, 219, 0.5);

  max-width: 1276px;
  margin: 0 auto;
  padding: 20px 0;

  font-family: 'Stolzl', 'sans-serif';
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

}